*{
    box-sizing: border-box;
    scroll-behavior: smooth;

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: black;

    font-family: 'DM Sans', sans-serif;
}


/* Modal form */

.button {
    background: #fe142f;
    margin-top: 0.5em;
    padding: 1em;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background: #3876ac;
  }
  
  .smFont {
    font-size: 16px;
  }
  
  .bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
  }
  
  .content {
    margin: 5% auto;
    width: 400px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #DB8876;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px;
  }
  
  .modal-body {
    padding: 0 4% 15px 4%;
    margin: 0 auto 15px auto;
  }

  .contactez-moi, .contactez-moi_photographer{
      font-size: 32px;
  }

  .contactez-moi_photographer{
      margin-bottom: 15px;
  }
  
  label {
    font-family: var(--font-default);
    font-size: 35px;
    font-weight: normal;
    display: inline-block;
  }
  input textarea{
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
    width: 100%;
  }
  .text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 2px;
    font-size: 20px;
    height: 48px;
  }
  
  label{
    font-size: 18px;
  }
  
  .error{
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
    border: 2px solid #e54858;
  }

  #message{
      
      height:120px;
      resize:none;

  }
  
  .errorMessage{
    font-size: 10px;
    color: #901C1C;
  }
  
  .success{
    border: 2px solid grey;
  }

  
  .checkbox-label,
  .checkbox2-label {
    position: relative;
    margin-left: 36px;
    font-size: 12px;
    font-weight: normal;
  }
  .checkbox-label .checkbox-icon,
  .checkbox2-label .checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: -30px;
    top: -1px;
    transition: 0.3s;
  }
  .checkbox-label .checkbox-icon::after,
  .checkbox2-label .checkbox-icon::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 0;
  }
  .checkbox-input {
    display: none;
  }
  .checkbox-input:checked + .checkbox-label .checkbox-icon::after,
  .checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
    opacity: 1;
  }
  .checkbox-input:checked + .checkbox2-label .checkbox-icon {
    background: #279e7a;
  }
  .checkbox2-label .checkbox-icon {
    border-radius: 4px;
    border: 0;
    background: #c4c4c4;
  }
  .checkbox2-label .checkbox-icon::after {
    width: 7px;
    height: 4px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    transform: rotate(-55deg);
    left: 21%;
    top: 19%;
  }
  .close {
    background-color: #DB8876;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .btn-submit,
  .btn-signup {
    background: #901C1C;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
    height: 40px;
  }
  .btn-submit{
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 12px 24px;
    font-size: 12px;
    border-radius: 3px;
  }
  .btn-close{
    background: #fe142f;
    display: block;
    margin: 50px auto auto auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
  }

  /* custom select styles */
  .custom-select {
    position: relative;
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: normal;
  }
  
  .custom-select select {
    display: none;
  }


  /* Hide the items when the select box is closed: */
.select-hide {
    display: none;
  }
  
  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }

/*LIGHTBOX-MODAL*/
/*LIGHTBOX-MODAL*/
/*LIGHTBOX-MODAL*/

.lb-bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.lightbox-modal {
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: white;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.lb-close{
  position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}

.lb-close:before,
  .lb-close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #901C1C;
  }
  .lb-close:before {
    transform: rotate(45deg);
  }
  .lb-close:after {
    transform: rotate(-45deg);
  }

  .lightbox-modal_body{
      display: flex;
      justify-content: center;
  }

  #photographer-media{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .lightbox-modal_text{
    color: #901C1C;
    padding-top: 10px;
  }
  
  #photographer-media img, #photographer-media video{
    /* max-height: 90vh;
    min-height: 20vh; */
    height:90vh;
    object-fit:cover;
    /* min-width: 20vh; */
    width:100%;
    display:inline-block;
    border-radius: 5px;
  }

  .fleche{
    width: 20px;
    margin-top: 50vh;
    position: fixed;
    cursor: pointer;
  }

  .previous{
    left: 40px;
  }
  .next{
    right: 40px;
  }

  .error{
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
    border: 3px solid #901C1C;
  }

  .content-success{
    display: none;
    font-family: var(--font-default);
    font-size: 30px;
    font-weight: normal;
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 4rem 0 4rem;
    height: 100%;
    text-align: center;
  }
  
  .content-success p {
    padding : 12rem 0;
  }

  .display-none{
    display: none;
  }


  @media screen and (max-width: 768px){
    #photographer-media{
      padding: 30px;
      position: relative;
    }
    #photographer-media img{
      height: unset !important;
      max-height: 80vh;
      max-width: 70vh;
    }
    #photographer-media video{
      max-width: 95vh;
      height: unset;
    }
    .lb-close{
      right: 0px;
      margin-left: 20px;
    }
    .fleche{
      width: 10px;
      margin-top: 50vh;
      position: fixed;
      cursor: pointer;
    }
    .previous{
      left: 5px;
    }
    .next{
      right: 5px;
    }

  }
