*{
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: black;

    font-family: 'DM Sans', sans-serif;
}

a{
    cursor: pointer;
}

ol, ul {
    list-style: none;
  }

body{
    margin: 40px auto;
    max-width: 1300px;
    justify-content: center;
}

/* HEADER */

.fisheye img{
    width: 250px;
    margin-bottom: 50px;
}

/* MAIN */

main{
    margin: 0 auto;
}
#photographer{
    padding: 50px;
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 247, 247);
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.photographer__image img{
 width: 150px;
 height: 150px;
 object-fit: cover;
 clip-path: circle(50%);
 display: flex;
 justify-content: center;
 vertical-align: center;
 position: absolute;
 right: 50px;
 top: 50px;
}

header{
    font-size: 50px;
    color: #D3573C;
    margin-top: 5px;
}
.fisheye{
  display: inline-block;
  height: 63px;
}

.photographer__text{
    padding-right: 30px;
}

.photographer__text__location{
    font-size: 20px;
    color: #901C1C;
    margin-bottom: 2px;
}

.photographer__text__leitmotiv{
    font-size: 12px;
    margin-bottom: 10px;
}

.photographer__content__text_wrapper{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    margin-top: 4px;
}

.nbr_of_likes{
    color: #901C1C;
}

.tag {
    color: #901C1C;
    padding: 5px;
    border: 0.5px solid;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 6px;
}

.photographer__contacter{
    background-color: #901C1C;
    height: 50px;
    border-radius: 5px;
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.photographer__content{
    max-width: 1300px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 120px;
    margin: 40px auto 60px auto;
}

.photographer__content__article{
    padding-bottom: 10px;
}

.photographer__content__article img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}


/* PHOTOGRAPHY CONTENT */
/* PHOTOGRAPHY CONTENT */
/* PHOTOGRAPHY CONTENT */

article{
    cursor: pointer;
}


.photographer_content_post{
    color: #901C1C;
    font-size: 20px;
}

.photographer_content_likes img{
    height: 13px;
    width: 13px;
    border-radius: 0;
    fill: #901C1C;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

.photographer_statistics{
    background-color: #DB8876;
    color: black;
    width: 300px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 80px;
    padding: 15px 25px; 
}

.photographer_statistics img{
    height: 20px;
    padding-top: 5px;
}

.video{
  width: 100%;
  height: 300px;
  object-position: 50% 50%;
  object-fit: cover;
  border-radius: 8px;
}

/* TRIER PAR */
/* TRIER PAR */
/* TRIER PAR */

.photographer__trier{
    display: flex;
    margin: 20px 0;
}

.trier_par{
    font-weight: bold;
    padding-right: 20px;
}

.select-box {
    position: absolute;
    display: inline-block;
    min-height: 40px;
    max-height: 40px;
    width: 200px;
    margin-right: 20px;
    padding: 40px 0 0;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    overflow: hidden;
    vertical-align: top;
    transition: .3s;
    background: #901C1C;
    border-bottom: 1px solid white;
  }
  .select-box:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 40px;
    top: 0;
    right: 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNBOUFDQUYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    transform: rotate(180deg);
  }
  #hover-select:hover {
    max-height: 160px;
    position: absolute;
  }
  #hover-select:hover:after {
     transform: rotate(0deg);
  }
  .select-box > input {
    display: none;
  }
  .select-box > label {
    display: block;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 40px;
    cursor: pointer;
    transition: background-color .4s;
    color: white;
    border-bottom: 1px solid white;
  }
  .select-box > label:hover {
    background: #DB8876;
  }
  .select-box > input:checked + label {
    position: absolute;
    top: 0;
  }
  .select-box > input:checked + label:hover {
    background-color: #DB8876;
    cursor: default;
  }
  #select-box-input {
    display: none;
  }
  #select-box-input:checked + label {
    max-height: 160px;
  }
  #select-box-input:checked + label:after {
    transform: rotate(0deg);
    background-position-x: right;
  }
  #select-box-input + label:after {
    width: 100%;
    right: 0;
    margin-right: 10px;
    background-position-x: left;
    background-position-y: center;
  }
  #select-box-input + label:hover {
        box-shadow: 0 0 0 1px #b28fff;
  }
  #select-box-input + label > label:hover {
    background-color: rgba(178, 143, 255, .2);
  }
  #select-box-input + label:hover:after {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiM1NTZBRUEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=);
  }
  #select-box-input + label:not(:focus) {
    max-height: 40px;
  }

/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */

  @media screen and (max-width: 768px){

    body{
      margin: 20px 20px 0 20px;
    }

    .fisheye{
      display: flex;
      height: 100%;
    }

    .fisheye img{
      margin-top: 20px;
      margin-bottom: 0px;
    }

    .photographer__text{
      width: 100%;
    }
    .photographer__link{
      display: flex;
    }
    .tag{
      margin: 3px;
    }
    .photographer__image{
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    .photographer__image img{
      position:unset;
    }

    #display-form{
    }

    .photographer__contacter{
      position: fixed;
      bottom: 5px;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      padding: 5px 20px;
    }

    #photographer{
      padding: 0px;
      background-color: white;
      margin: 40px 10px 20px 0px;
    }

    .photographer__image{
      position: absolute;
      right: 0;
    }

    .photographer__content{
      display: block;
    }

    .photographer_statistics{
      display: none;
    }
    header{
      font-size: 40px;
    }
    .photographer__image img{
      margin-top: 0px;
      height: 100px;
      width: 100px;
    }
    .photographer__image{
      margin-top: 0;
    }

    .photographer__trier{
      display: none;
    }
    .trier_par{
      display: none;
    }
    #hover-select{
      display: none;
    }

    
  }

